.App {
  text-align: center;
  background-color: black;
  color: #ffff;
}

/* buy an app */

.ful_container {
  padding: 50px 100px;
}
.first_section {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 54% auto;
  grid-gap: 229px;
}
.first_section1 {
  /* width: 50%; */
  display: flex;
    flex-direction: column;
    text-align: justify;
}
.first_section2 {
}

.four_image {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px; */
}

.first_section1 h1 {
  /* text-align: start; */
}
.first_section1 p {
  /* text-align: start; */
}

/* second section */

.second_section {
  /* display: flex;
  justify-content: space-between;
  grid-gap: 100px;
  padding-top: 100px; */

}
.second_section1 {
  /* text-align: initial; */
}
.second_section2 {
  /* text-align: initial; */
}
.Note_part {
}
