.App {
  text-align: center;
  background-color: black;
  color: #ffff;
}

/* buy an app */

.ful_container {
  padding: 50px 110px;
}
.first_section {
  /* flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 55% auto;
}
.first_section1 {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.first_section2 {
  margin-left: 100px;
}

.four_image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.four_image img {
  max-width: 100%;
  height: 100%;
}
.first_section1 h1 {
  text-align: start;
}
.first_section1 p {
  text-align: start;
}

/* second section */

.second_section {
  display: grid;
  grid-template-columns: 55% auto;
  margin-top: 100px;
}
.second_section1 {
  text-align: initial;
}
.second_section2 {
  margin-left: 100px;
}
.Note_part {
  text-align: justify;
}
/* the space */

.the_space {
  display: grid;
  grid-template-columns: 55% auto;
  margin-top: 100px;
}
.the_space1 {
  text-align: initial;
}
.the_space2 {
  margin-left: 100px;
}

.the_space img {
  max-width: 100%;
  height: 100%;
}

/* bartroom */

.barthroom {
  display: grid;
  grid-template-columns: 55% auto;
  margin-top: 100px;
}
.barthroom_part1 {
  text-align: initial;
}
.barthroom_part2 {
  margin-left: 100px;
}

.barthroom_part2 img {
  max-width: 100%;
  height: 100%;
}

/* buy an app */
.three_section {
  background-color: #bfc500;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

/* welcome part */
.welcome_two_part {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}
.welcomw_first_part {
  display: flex;
  flex-direction: column;
  /* justify-content: revert; */
  align-items: flex-start;
  padding-right: 31%;
}
.welcome_second_part {
  display: flex;

  justify-content: space-between;
}
.welcome_mainpart {
  padding: 10px;
}
.welcome_paragraph {
  text-align: initial;
}

/* community */

.communities_tools {
}
.community_two_part {
  display: grid;
  grid-template-columns: 55% auto;
  justify-content: space-between;
  align-items: center;
}
.community_first_part {
  text-align: initial;
}
.community_second_part {
}





/* slide */
.slide_three_part {
  display: flex;
  justify-content: space-between;
  grid-gap: 150px;
}
.first_slide{

}
.first_slide img{
  height: 100%;
  width: 100%;
}


/* dropdown */

.dropdown_style{
  width: fit-content;
  border-bottom: 2px solid;
}
.dropdown_button{
  color: #fff !important;
}

.image_part{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

}

.grid_image img{
height: 100%;
width: 100%;
}

.gallary_two_part{
  display: grid;
    grid-template-columns: 26% auto;

}

.drop_down_part{
  text-align: start;
  /* padding: 20px; */
  padding-right: 50px;
  display: flex;
  flex-flow: column;
  gap: 20px;

}


/* distibution */

.distribution_section{
  display: grid;
  grid-template-columns: 40% auto ;
  padding-top: 100px;
}

.distribution_two{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.distribution_part{
  text-align: start;
}

/* mutation */
.mutation{
  display: grid;
  grid-template-columns: 60% auto ;
  padding-top: 100px;
}
.mutation_second img{
  height: 100%;
  width: 100%;
}

.mutation_first{
  text-align: initial;
}
.mutation_second{
  padding-left: 40px;
}
.mutation_para{
  text-align: justify;

}


/* footer */
.email_form{

}
.email-form_here{
  display: flex;
  justify-content: center;


}
.email-submit{
  outline: none;
  border: none;
  width: 18%;
  background-color: #ad99999c;;
}
.email_form input{
  outline: none;
  border: none;
  width: 100%;
  padding: 6px;
  background-color: #5951519c;

}
.email-container{

    display: flex;
    flex-flow: column;
    align-items: flex-start;
    
}


.navigation_container{
  padding: 0px 26px;

}